

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("img/gbKomax.jpeg");
  background-size: cover;
}

#jan {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("img/Jan_Run-2.png");
  background-size: cover;
}

#game-over {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("img/Jan_Game-Over.png");
  background-size: cover;
}
 

#maschiene {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("img/maschiene.png");
  background-size: cover;
  animation: maschiene 1.33s infinite;
}

@keyframes maschiene {
  0%{left: 550px;}
  100%{left: -50px;}
}

.jump-animation {
  animation: jump 1.5s;
}

.crash {
  background-image: url("img/Jan_Game-Over.png");
  transform: rotate(90deg);
  transition: transform 0.3s;
}
@keyframes jump {
  0%{top: 225px;}
  50%{top: 75px;}
  75%{top: 75px;}
  100%{top: 225px;}
}

